/* ------------------------- base color ------------------------- */
$primary: #409eff;
$success: #76c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;

$white: #ffffff;
$black: #000000;

$primaryText: #333333;
$secondaryText: #999999;

/* ------------------------- 根据设计稿取色 ------------------------- */
$topNavBackgroundColor: #21201f;
$topMenuActiveText: #0053a1 ; // 顶部导航栏字体颜色

/* ------------------------- 按钮颜色 ------------------------- */
$btnBackgroundColor: #dfe5f3;

$footDividingLineColor: #85827f; // 底部导航栏分隔线颜色
$footMainTextColor: #7d8087;
$footSubTextColor: #c5c9d4;
